// font

// color
$primary-color: rgb(0, 180, 180);

// style
$br-card: 8px;

#card-login {
    border-radius: $br-card;
    padding: 2rem;

    header {
        text-align: center;
        margin-bottom: 2rem;
    }

    form {
        .row {
            margin-bottom: 0;
        }
    }
}
